.interior {
  background-color: #181719;
  color: #ffffff;
  overflow-x: hidden; }

.interior--container {
  max-width: 1114px;
  margin: auto; }

.interior--main {
  margin-top: 45px; }

.interior--header {
  display: flex;
  justify-content: space-between;
  position: relative; }

.interior--header-text {
  margin: 0;
  padding: 8px;
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid rgba(225, 225, 225, 0.5);
  box-sizing: border-box; }

.interior--summary:before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  background-image: url("../icons/menu.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.interior--summary:focus {
  outline: none;
  cursor: pointer; }

.label_menu {
  background-image: url("../icons/menu.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  background-size: auto;
  cursor: pointer; }

.interior_open_menu {
  color: transparent; }

.menu_checkbox {
  visibility: hidden; }

input[type="checkbox"]:checked ~ .interior--header .interior--menu {
  transform: translateX(0%); }

input[type="checkbox"]:checked ~ .interior--menu {
  z-index: 1; }

input[type="checkbox"]:checked ~ .interior--header .interior--menu {
  position: absolute;
  left: 0;
  text-align: center;
  z-index: 1;
  width: 100%;
  background-color: #181719;
  color: #ffffff;
  height: 945px;
  margin: 0;
  margin-top: -1rem;
  padding-top: 6rem; }

input[type="checkbox"]:checked ~ .interior--header .label_menu {
  z-index: 2;
  background-image: url("../icons/x-icon.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 23px;
  color: white; }

.interior--menu {
  list-style: none;
  padding: 0;
  position: absolute;
  left: 200%; }

.interior--menu-list {
  padding-top: 16px;
  padding-bottom: 16px; }

.interior--menu-list-link {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7; }

.interior--menu-list:nth-of-type(1) .interior--menu-list-link {
  opacity: 1; }

@media (min-width: 900px) {
  .label_menu {
    display: none; }
  .interior--menu {
    position: unset;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center; }
  .interior--menu-list {
    padding: 0;
    padding-right: 86px; }
  .interior--menu-list:nth-of-type(4) {
    padding-right: 0; } }

.interior--modern {
  margin-bottom: 26px; }

.interior--modern-heading {
  font-size: 36px;
  line-height: 46px; }

.interior--modern-content {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-top: 40px;
  margin-bottom: 48px;
  opacity: 0.9; }

.interior--modern-more-content {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px; }

.interior--design-photo {
  width: 100%; }

.interior--mask {
  position: relative; }

.interior--designer {
  width: 75%;
  height: 138px;
  transform: translate(15%, -67px);
  background-color: #181719;
  color: #ffffff;
  position: absolute;
  padding: 10px;
  left: 3%; }

.interior--designer-profile {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-areas: 'photo description' 'date date'; }

.interior--designer-profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  grid-area: photo; }

.interior--designer-profile-desc {
  grid-area: description; }

.interior--design-date {
  grid-area: date;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700; }

.interior--designer-profile-desc_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px; }

.interior--designer-profile-desc_job {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #828282; }

@media (min-width: 900px) {
  .interior--main-container {
    display: grid;
    grid-template-columns: 410px 1fr;
    gap: 87px; }
  .interior--modern-content {
    padding-right: 3rem; }
  .interior--designer {
    left: 7%; } }

.interior--footer {
  margin-top: 208px; }

.interior--footer-devChallenge {
  border-top: 1px solid #A9A9A9;
  color: #A9A9A9;
  text-align: center;
  padding-top: 1rem;
  margin: 1rem; }

@media (min-width: 900px) {
  .interior--footer {
    margin-top: 180px; }
  .interior--footer-devChallenge {
    border-top: none;
    padding: 0;
    margin: 0; } }
