.interior {
  background-color: #181719;
  color: #ffffff; }

.interior--container {
  max-width: 1114px;
  margin: auto; }

.interior--main {
  margin-top: 45px; }

.interior--header {
  display: flex;
  justify-content: space-between;
  position: relative; }

.interior--header-text {
  margin: 0;
  padding: 8px;
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid rgba(225, 225, 225, 0.5);
  box-sizing: border-box; }

.interior--details {
  align-self: center;
  position: absolute;
  left: 84%;
  top: 10px; }

.interior--details[open] {
  height: 500px; }

.interior--details-summary::-webkit-details-marker {
  display: none; }

.interior--details-menu {
  list-style: none;
  padding: 0; }
