@import './variables/variables';
@import './variables/mixin';

.interior {
    @include default;
    overflow-x: hidden;
}

.interior--container {
    max-width: 1114px;
    margin: auto;
}

.interior--main {
    margin-top: 45px;
}