@import './variables/variables';
@import './variables/mixin';
@import './variables/font-faces';

.interior {
    @include default;
    overflow-x: hidden;
    font-family: 'montserratregular';
}

.interior--container {
    max-width: 1114px;
    margin: auto;
}

.interior--main {
    margin-top: 45px;
}