$fonts: (
   (
        family: 'crimson_proextralight_italic',
        local: 'crimson_proextralight_italic',
        filename: 'crimsonpro-italic-variablefont_wght-webfont',
        weight: 400,
        style: normal,
    ),
    (
        family: 'crimson_proextralight',
        local: 'crimson_proextralight',
        filename: 'crimsonpro-variablefont_wght-webfont',
        weight: 400,
        style: normal,
    ),
    (
        family: 'loraitalic',
        local: 'loraitalic',
        filename: 'lora-italic-variablefont_wght-webfont',
        weight: 400,
        style: normal,
    ),
    (
        family: 'loraregular',
        local: 'loraregular',
        filename: 'lora-variablefont_wght-webfont',
        weight: 400,
        style: normal,
    ),
    (
        family: 'montserratbold',
        local: 'montserratbold',
        filename: 'montserrat-bold-webfont',
        weight: 700,
        style: normal,
    ),
    (
        family: 'montserratregular',
        local: 'montserratregular',
        filename: 'montserrat-regular-webfont',
        weight: 400,
        style: normal,
    )
)